.music-card {
  border-bottom: 0.848px solid #ccd4e1;
  margin-right: 50px;
}

ul {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 50px;
}

li {
  margin: 0 30px;
}

audio {
  margin-right: 30px;
}
